<% if item[:dark_mode_toggle] %>
  <!-- Dark Mode Toggle -->
  <li class="nav-item" data-controller="tabler-ui--dark-mode">
    <a href="#" class="nav-link px-0" data-action="click->tabler-ui--dark-mode#toggle" title="Theme wechseln">
      <svg data-tabler-ui--dark-mode-target="light" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
        <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
      </svg>
      <svg data-tabler-ui--dark-mode-target="dark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon d-none">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
      </svg>
      <svg data-tabler-ui--dark-mode-target="system" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon d-none">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z" />
        <path d="M7 20h10" />
        <path d="M9 16v4" />
        <path d="M15 16v4" />
      </svg>
    </a>
  </li>
<% elsif item[:divider] %>
  <!-- Divider -->
  <li class="nav-item">
    <span class="nav-link px-0 text-secondary">|</span>
  </li>
<% elsif item[:submenu] %>
  <!-- Dropdown -->
  <li class="nav-item dropdown <%= 'active' if item[:submenu].any? { |sub| sub[:url] && current_page?(sub[:url]) } %>">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
      <%= item[:title] %>
    </a>
    <div class="dropdown-menu">
      <% item[:submenu].each do |sub| %>
        <% if sub[:divider] %>
          <div class="dropdown-divider"></div>
        <% elsif sub[:method].present? && sub[:method] != :get %>
          <%= button_to sub[:title], sub[:url], class: "dropdown-item #{'active' if sub[:url] && current_page?(sub[:url])}", method: sub[:method], target: sub[:target] %>
        <% else %>
          <%= link_to sub[:title], sub[:url], class: "dropdown-item #{'active' if sub[:url] && current_page?(sub[:url])}", target: sub[:target] %>
        <% end %>
      <% end %>
    </div>
  </li>
<% else %>
  <!-- Regular Link -->
  <% active = item[:url] && current_page?(item[:url]) %>
  <li class="nav-item <%= 'active' if active %>">
    <% if item[:method].present? && item[:method] != :get %>
      <%= button_to item[:title], item[:url], method: item[:method], class: "nav-link #{'active' if active}", target: item[:target] %>
    <% else %>
      <%= link_to item[:title], item[:url], class: "nav-link #{'active' if active}", target: item[:target] %>
    <% end %>
  </li>
<% end %>
