<!-- Tabler UI Table Component -->
<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter card-table <%= table.respond_to?(:striped) && table.striped ? 'table-striped' : '' %> <%= table.respond_to?(:hover) && table.hover ? 'table-hover' : '' %>">
      <thead>
        <tr>
          <% table.columns.each do |col| %>
            <th class="<%= col[:class] %>">
              <%= col[:label] %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% table.data.each do |row| %>
          <tr>
            <% table.columns.each do |col| %>
              <td class="<%= col[:class] %>">
                <%= col[:value].call(row) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
