<!-- Tabler UI Dropdown Component -->
<%
  # Dropdown alignment
  align_class = dropdown.align == 'right' ? 'dropdown-menu-end' : ''

  # Button variant
  button_class = "btn-#{dropdown.button_variant}"
%>

<div class="dropdown">
  <button class="btn <%= button_class %> dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= dropdown.label %>
  </button>
  <div class="dropdown-menu <%= align_class %>">
    <% dropdown.items.each do |item| %>
      <% case item[:type] %>
      <% when :divider %>
        <div class="dropdown-divider"></div>
      <% when :header %>
        <h6 class="dropdown-header"><%= item[:title] %></h6>
      <% when :item %>
        <%
          item_content = capture do
            if item[:icon]
              concat render("tabler_ui/icon/component", icon: OpenStruct.new(icon: item[:icon]))
              concat " "
            end
            concat item[:title]
          end
          item_class = "dropdown-item #{item[:class]} #{'active' if item[:active]} #{'disabled' if item[:disabled]}".strip
          item_data = item[:data] || {}
        %>
        <% if item[:method] && item[:method] != :get %>
          <%= button_to item[:url], method: item[:method], class: item_class, disabled: item[:disabled], data: item_data do %>
            <%= item_content %>
          <% end %>
        <% else %>
          <%= link_to item[:url], class: item_class, disabled: item[:disabled], data: item_data do %>
            <%= item_content %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
