<%# Tabler UI Placeholder Component %>
<% case placeholder.type %>
<% when :text %>
  <%# Single or multiple text placeholder lines %>
  <% if placeholder.has_animation? %>
    <div class="<%= placeholder.wrapper_classes %>">
      <% placeholder.text_lines.each do |line_width| %>
        <div class="placeholder <%= placeholder.size ? "placeholder-#{placeholder.size}" : "placeholder-xs" %> col-<%= line_width %>"></div>
      <% end %>
    </div>
  <% else %>
    <% placeholder.text_lines.each do |line_width| %>
      <div class="placeholder <%= placeholder.size ? "placeholder-#{placeholder.size}" : "placeholder-xs" %> col-<%= line_width %>"></div>
    <% end %>
  <% end %>

<% when :avatar %>
  <%# Avatar placeholder %>
  <div class="<%= placeholder.avatar_classes %>"></div>

<% when :image %>
  <%# Image placeholder with aspect ratio %>
  <div class="ratio <%= placeholder.ratio_class %> placeholder"></div>

<% when :button %>
  <%# Button placeholder %>
  <a href="#" tabindex="-1" class="<%= placeholder.button_classes %>" aria-hidden="true"></a>

<% when :card %>
  <%# Full card placeholder skeleton %>
  <div class="card <%= placeholder.has_animation? ? placeholder.wrapper_classes : '' %>">
    <% if placeholder.show_image %>
      <div class="ratio ratio-21x9 card-img-top placeholder"></div>
    <% end %>
    <div class="card-body">
      <div class="placeholder col-9 mb-3"></div>
      <div class="placeholder placeholder-xs col-10"></div>
      <div class="placeholder placeholder-xs col-11"></div>
      <% if placeholder.show_button %>
        <div class="mt-3">
          <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-4" aria-hidden="true"></a>
        </div>
      <% end %>
    </div>
  </div>

<% when :list %>
  <%# List item placeholder with avatar %>
  <div class="<%= placeholder.has_animation? ? placeholder.wrapper_classes : '' %>">
    <div class="row align-items-center">
      <div class="col-auto">
        <div class="avatar avatar-rounded placeholder"></div>
      </div>
      <div class="col-7">
        <div class="placeholder placeholder-xs col-9"></div>
        <div class="placeholder placeholder-xs col-7"></div>
      </div>
      <div class="col-2 ms-auto text-end">
        <div class="placeholder placeholder-xs col-8"></div>
        <div class="placeholder placeholder-xs col-10"></div>
      </div>
    </div>
  </div>

<% else %>
  <%# Default: simple placeholder span %>
  <span class="<%= placeholder.placeholder_classes %>"></span>
<% end %>
